* {
margin: 0;
padding: 0;
font-family: 'Permanent Marker', cursive;
}
:root{
    --cell-size:100px;
}

body{
    display: grid;
    grid-template-rows: 150px auto;
    justify-content: center;
    background-color: whitesmoke;
}
.header{
    align-self: center;
    font-size: 5rem;
    font-weight: 900;
    text-shadow: 2px 2px gray;
}
.container{
    justify-self: center;
    margin-top: 60px;
}
.rules{
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    font-weight: 900;
}
/* Gameboard grid */
.grid{
    display: grid;
    grid-template-columns: repeat(3, var(--cell-size));
    justify-items: center;
}
.grid-cell{
    width: var(--cell-size);
    height: var(--cell-size);;
    border: 3px solid black;
}
.grid-cell:first-child, .grid-cell:nth-child(2),.grid-cell:nth-child(3){
    border-top: none;
}
.grid-cell:nth-child(3n+1){
    border-left: none;
}
.grid-cell:nth-child(3n+3){
    border-right: none;
}
.grid-cell:last-child, .grid-cell:nth-child(7),.grid-cell:nth-child(8){
    border-bottom: none;
}
/* Apply background img according to mark */
.x-mark{
    width: var(--cell-size);
    height: var(--cell-size);
    background-image: url(images/x-img2.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: not-allowed;
}
.o-mark{
    width: var(--cell-size);
    height: var(--cell-size);
    background-image: url(images/o-img2.svg);
    background-size: 94%;
    background-repeat: no-repeat;
    background-position: 50%;
    cursor: not-allowed;
}
/* Results display */
.results-display{
    background-color: rgba(0, 0, 0, 0.85);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 4rem;
    text-shadow: 2px 2px 3px black;
    color: whitesmoke;
}
.results-display button{
    font-size: 2rem;
    background-color: whitesmoke;
    border: 4px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 2px gray;
    padding: 3px 10px;
}
.results-display button:hover{
    background-color: whitesmoke;
    transition: transform .2s;
    transform: scale(1.05);
}
.results-display button:active{
    transition: transform .1s;
    transform: translate(1px,1px);
}